{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <form
        class="form"
        action="{{ paths.LIVING_VISITING_MOSTLY_LIVE }}"
        method="post"
        novalidate
        id="per-child-form"
      >
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% if childProgressCaption %}<span class="govuk-caption-l">{{ childProgressCaption }}</span>{% endif %}
        <h1 class="govuk-heading-l">{{ title }}</h1>

        {# Default/All children answer #}
        <div class="per-child-entry default-answer-section" data-entry-index="0">
          {% set describeArrangementHtml0 %}
            {{
              govukTextarea({
                name: formFields.MOSTLY_LIVE_DESCRIBE_ARRANGEMENT + "-0",
                id: formFields.MOSTLY_LIVE_DESCRIBE_ARRANGEMENT + "-0",
                label: {
                  text: __('describeArrangement')
                },
                value: formValues[formFields.MOSTLY_LIVE_DESCRIBE_ARRANGEMENT + "-0"],
                errorMessage: errors | findError(formFields.MOSTLY_LIVE_DESCRIBE_ARRANGEMENT + "-0")
              })
            }}
          {% endset -%}

          {{
            govukRadios({
              name: formFields.MOSTLY_LIVE_WHERE + "-0",
              fieldset: {
                legend: {
                  text: "Where will the children mostly live?",
                  classes: "govuk-visually-hidden",
                  isPageHeading: false
                }
              },
              items: [
                {
                  value: "withInitial",
                  text: __('livingAndVisiting.mostlyLive.with', {adult: values.initialAdultName})
                },
                {
                  value: "withSecondary",
                  text: __('livingAndVisiting.mostlyLive.with', {adult: values.secondaryAdultName})
                },
                {
                  value: "split",
                  text: __('livingAndVisiting.mostlyLive.split', {initialAdult: values.initialAdultName, secondaryAdult: values.secondaryAdultName})
                },
                {
                  divider: __('or')
                },
                {
                  value: "other",
                  text: __('anotherArrangement'),
                  conditional: {
                    html: describeArrangementHtml0
                  }
                }
              ],
              value: formValues[formFields.MOSTLY_LIVE_WHERE + "-0"],
              errorMessage: errors | findError(formFields.MOSTLY_LIVE_WHERE + "-0")
            })
          }}
        </div>

        {# Design 3: Or specify per child (no "Or" text - radios above already have an "or" divider) #}
        {% if showDesign3Option %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specify-per-child" name="specify-per-child" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="specify-per-child">
                Specify an answer for each child separately
              </label>
            </div>
          </div>
        {% endif %}

        {% if childProgressCaption %}
          <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="apply-to-all" name="apply-to-all" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="apply-to-all">
                Apply this answer to all children
              </label>
            </div>
          </div>
        {% endif %}

        {{ govukButton({text: __('continue')}) }}
      </form>
    </div>
  </div>

{% endblock %}
