{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <form class="form" action="{{ paths.LIVING_VISITING_WILL_OVERNIGHTS_HAPPEN }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {% if childProgressCaption %}<span class="govuk-caption-l">{{ childProgressCaption }}</span>{% endif %}
        {{
          govukRadios({
            name: formFields.WILL_OVERNIGHTS_HAPPEN,
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Yes",
                text: __('yes')
              },
              {
                value: "No",
                text: __('no')
              }
            ],
            value: formValues[formFields.WILL_OVERNIGHTS_HAPPEN],
            errorMessage: errors | findError(formFields.WILL_OVERNIGHTS_HAPPEN)
          })
        }}
        {% if childProgressCaption %}
          <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="apply-to-all" name="apply-to-all" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="apply-to-all">
                Apply this answer to all children
              </label>
            </div>
          </div>
        {% endif %}
        {{ govukButton({text: __('continue')}) }}
      </form>
    </div>
  </div>
{% endblock %}
