{% extends "partials/layout.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <form
        class="form"
        action="{{ paths.HANDOVER_HOLIDAYS_WHERE_HANDOVER }}"
        method="post"
        novalidate
        id="per-child-form"
      >
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% if childProgressCaption %}<span class="govuk-caption-l">{{ childProgressCaption }}</span>{% endif %}
        <h1 class="govuk-heading-l">{{ title }}</h1>

        {# Default/All children answer #}
        <div class="per-child-entry default-answer-section" data-entry-index="0">
          {% set hintHtml0 %}
            <p>{{ __('handoverAndHolidays.whereHandover.explainer') }}</p>
            <p>{{ __('selectAllThatApply') }}</p>
          {% endset -%}

          {% set anotherHtml0 %}
            {{
              govukTextarea({
                id: formFields.WHERE_HANDOVER_SOMEONE_ELSE + "-0",
                name: formFields.WHERE_HANDOVER_SOMEONE_ELSE + "-0",
                label: {
                  text: __('handoverAndHolidays.whereHandover.someoneElseName')
                },
                value: formValues[formFields.WHERE_HANDOVER_SOMEONE_ELSE + "-0"],
                errorMessage: errors | findError(formFields.WHERE_HANDOVER_SOMEONE_ELSE + "-0")
              })
            }}
          {% endset -%}

          {{
            govukCheckboxes({
              name: formFields.WHERE_HANDOVER + "-0",
              fieldset: {
                legend: {
                  text: "Where will the handover take place?",
                  classes: "govuk-visually-hidden",
                  isPageHeading: false
                }
              },
              hint: {
                html: hintHtml0
              },
              items: [
                {
                  value: "neutral",
                  text: __('handoverAndHolidays.whereHandover.neutralLocation')
                },
                {
                  value: "initialHome",
                  text: __('handoverAndHolidays.whereHandover.atHome', {adult: values.initialAdultName})
                },
                {
                  value: "secondaryHome",
                  text: __('handoverAndHolidays.whereHandover.atHome', {adult: values.secondaryAdultName})
                },
                {
                  value: "school",
                  text: __('handoverAndHolidays.whereHandover.atSchool')
                },
                {
                  value: "someoneElse",
                  text: __('handoverAndHolidays.whereHandover.someoneElse'),
                  behaviour: "exclusive",
                  conditional: {
                    html: anotherHtml0
                  }
                }
              ],
              values: formValues[formFields.WHERE_HANDOVER + "-0"],
              errorMessage: errors | findError(formFields.WHERE_HANDOVER + "-0")
            })
          }}
        </div>

        {# Design 3: Or specify per child #}
        {% if showDesign3Option %}
          <p class="govuk-body govuk-!-margin-bottom-2">Or</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specify-per-child" name="specify-per-child" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="specify-per-child">
                Specify an answer for each child separately
              </label>
            </div>
          </div>
        {% endif %}

        {% if childProgressCaption %}
          <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="apply-to-all" name="apply-to-all" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="apply-to-all">
                Apply this answer to all children
              </label>
            </div>
          </div>
        {% endif %}

        {{ govukButton({text: __('continue')}) }}
      </form>
      <form
        class="form"
        action="{{ paths.HANDOVER_HOLIDAYS_WHERE_HANDOVER_NOT_REQUIRED }}"
        method="post"
        novalidate
      >
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="govuk-link link-styled-button">{{ __('doNotNeedToDecideHandoverLocation') }}</button>
      </form>
    </div>
  </div>

{% endblock %}
