{% extends "partials/layout.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <form
        class="form"
        action="{{ paths.SPECIAL_DAYS_WHAT_WILL_HAPPEN }}"
        method="post"
        novalidate
        id="per-child-form"
      >
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% if childProgressCaption %}<span class="govuk-caption-l">{{ childProgressCaption }}</span>{% endif %}
        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p class="govuk-hint">{{ __('specialDays.whatWillHappen.content') }}</p>

        {# Default/All children answer #}
        <div class="per-child-entry default-answer-section" data-entry-index="0">
          {{
            govukTextarea({
              label: {
                text: "Describe what will happen",
                classes: "govuk-visually-hidden",
                isPageHeading: false
              },
              name: formFields.SPECIAL_DAYS + "-0",
              id: formFields.SPECIAL_DAYS + "-0",
              value: formValues[formFields.SPECIAL_DAYS + "-0"],
              errorMessage: errors | findError(formFields.SPECIAL_DAYS + "-0")
            })
          }}
        </div>

        {# Design 3: Or specify per child #}
        {% if showDesign3Option %}
          <p class="govuk-body govuk-!-margin-bottom-2">Or</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specify-per-child" name="specify-per-child" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="specify-per-child">
                Specify an answer for each child separately
              </label>
            </div>
          </div>
        {% endif %}

        {% if childProgressCaption %}
          <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="apply-to-all" name="apply-to-all" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="apply-to-all">
                Apply this answer to all children
              </label>
            </div>
          </div>
        {% endif %}

        {{ govukButton({text: __('continue')}) }}
      </form>
      <form
        class="form"
        action="{{ paths.SPECIAL_DAYS_WHAT_WILL_HAPPEN_NOT_REQUIRED }}"
        method="post"
        novalidate
      >
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="govuk-link link-styled-button">{{ __('doNotNeedToDecideSpecialDays') }}</button>
      </form>
    </div>
  </div>

{% endblock %}
